VITE_PAYPAL_CLIENT_ID=your_paypal_client_id
VITE_BACKEND_URL=/api
VITE_BACKEND_HOST_IP=your_backend_host_ip
VITE_BACKEND_PORT=9001
VITE_BACKEND_PROTOCOL=http
VITE_DEV_BACKEND_URL=http://localhost:9001
VITE_EXCHANGE_API=https://api.exchangerate-api.com/v4/latest/INR
